{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="mb-4 text-center">Connexion</h1>

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}"
                name="email"
                id="inputEmail"
                class="form-control"
                autocomplete="email"
                required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password"
                name="password"
                id="inputPassword"
                class="form-control"
                autocomplete="current-password"
                required>
        <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-primary mt-2" type="submit">Connexion</button>
        <a href="{{ path('user_create_new') }}" class="btn btn-outline-primary mt-2" >Créer un compte</a>
    </form>
{% endblock %}
