{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un consultant</h1>
        {{ include('consultant/_consultantForm.html.twig') }}
    </div>
{% endblock %}
