{% extends 'base.html.twig' %}

{% block title %}Offers_list{% endblock %}

{% block body %}
    <div>
        <div class="bg-primary p-2 text-center text-white mb-2">
            <h1>Liste des offres d'emplois</h1>
        </div>
        {% if offers %}
            {% for offer in offers %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-1 mb-3">{{ offer.name }}</h5>
                        <p class="card-text">
                            {{ offer.description }}
                        </p>
                        <address class="card-text">
                            {{ offer.companyAddress }}
                        </address>
                        <a class="btn btn-primary" href="{{ path('candidature_new', { 'offerId': offer.id }) }}">Postuler</a>
                    </div>
                </div>
            {% endfor %}
        {%  else %}
            <div>
                Vous n'avez aucune candidature pour le moment.
            </div>
        {% endif %}
    </div>
{% endblock %}
