{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center m-3 title">Accueil</h1>

    <p class="text-center m-2 text-">Bienvenue sur le site de recrutement de l'agence TRT_Conseil</p>
    <p class="text-center m-2 text-">Cette application permet de faciliter les recrutements dans le secteur de l'hotellerie et de la restauration.</p>

    <p class="text-center m-2">Pour pouvoir créer des offres ou postuler à celles-ci, vous devez commencer par vous créer un compte.</p>
    <p class="text-center m-2">Ce compte devra ensuite être validé par un consultant d'une de nos agences pour vous permettre ensuite d'accéder à nos services.</p>
{% endblock %}