{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="text-center">
    <h1 class="m-3 title">Accueil</h1>

    <p>Bienvenue sur le site de recrutement de l'agence TRT_Conseil</p>
    <p>Cette application permet de faciliter les recrutements dans le secteur de l'hotellerie et de la restauration.</p>
    <p>Pour pouvoir créer des offres ou postuler à celles-ci, vous devez commencer par vous créer un compte.</p>
    <p>Ce compte devra ensuite être validé par un consultant d'une de nos agences pour vous permettre ensuite d'accéder à nos services.</p>
</section>
{% endblock %}