{% extends 'base.html.twig' %}

{% block title %}Offers_list{% endblock %}

{% block body %}
    <div class="container border">
        <div class="row bg-info px-3 justify-content-center text-white-50">
            <h2>Liste des offres d'emplois</h2>
        </div>
        {# {% for offer in offers %}
            <div class="row">{{ offer.name }}
            </div>
        {% endfor %} #}
    </div>
{% endblock %}
