{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center m-3 title">Accueil</h1>

    <p class="text-center m-2 text-">Bienvenue sur le site de réservation en ligne de livre de la Médiatèque de la Chapelle-Curreaux.</p>
    <p class="text-center m-2">Pour pouvoir emprunter des livres vous devez d'abord faire une demande de compte.</p>
    <p class="text-center m-2">Une fois votre compte validé par un de nos adminstrateurs, vous pourrez emprunter des livres.</p>
{% endblock %}