{% extends 'base.html.twig' %}

{% block title %}Mes offres{% endblock %}

{% block body %}

    <div>
        <div class="bg-primary p-2 text-center text-white mb-2">
            <h1>Vos offres d'emplois</h1>
        </div>
        {% if offers %}
            {% for offer in offers %}
            
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-1 mb-3">{{ offer.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                        {% if offer.status == 'pending' %}
                            <span class="text-danger">en attente</span>
                        {% else %}
                            <span class="text-success">validée</span>
                        {% endif %}
                        </h6>
                        <p class="card-text">
                            {{ offer.description }}
                        </p>
                        <address class="card-text">
                            {{ offer.companyAddress }}
                        </address>
                        {% if offer.status == 'validated' %}
                            <a href="{{ path('candidatures_show', { 'offerId': offer.id }) }}" class="btn btn-primary">Liste des candidats</a>
                        {% else %}
                            <a href="#" class="btn btn-primary disabled">Liste des candidats</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {%  else %}
            <div>
                Aucune offre en cours.
            </div>
        {% endif %}
    </div>
{% endblock %}
