{% extends 'base.html.twig' %}

{% block title %}Nouvelle offre d'emploi{% endblock %}

{% block body %}
    <div class="px-5 text-center">
        <p class="m-3">Votre demande de création d'offre d'emploi a été transmise à un administrateur.</p>
        <p>Elle sera validée sous environs 24h.</p>
        <a class="btn btn-outline-primary" href="{{ path('offers') }}">Retour</a>
    </div>
{% endblock %}
