{% extends 'base.html.twig' %}

{% block title %}DefaultController!{% endblock %}

{% block body %}
    <div class="column d-flex justify-content-center align-content-center">
        <p> Veuillez vous connectez pour accéder à l'application. </p>
    </div>
    <div class="column d-flex justify-content-center align-content-center">
        <a class="btn btn-success" href="{{ path('app_login') }}"> Accéder à l'espace de connection </a>
    </div>
{% endblock %}
