{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="Container d-flex justify-content-center">
        <div class="column">
            <h1>Créer mon compte</h1>

            {{ include('user_create/_form.html.twig') }}

            <div class="row">
            <a class="btn btn-outline-info btn-block my-3 text-center" href="{{ path('app_login') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
