{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div>
            <h1>Créer mon compte</h1>

            {{ include('user_create/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
