{% extends 'base.html.twig' %}

{% block title %}Votre candidature{% endblock %}

{% block body %}
    <div class="text-center">
        <p class="mb-3">
            Votre candidature a été prise en compte.
        </p>
        <a class="btn btn-outline-success" href="{{ path('home') }}">Retour</a>
    </div>
{% endblock %}
