{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <div>
        <div class="bg-primary p-2 text-center text-white mb-2">
            <h1>Vos candidats</h1>
        </div>
        {% if candidates %}
            {% for candidate in candidates %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-1 mb-3">{{ candidate.candidate.lastname }} {{ candidate.candidate.firstname }}</h5>
                        <a class="btn btn-primary" href="{{ asset('uploads/curriculumVitae/' ~ candidate.candidate.curriculumVitae) }}">Voir le CV du candidat (PDF)</a>
                    </div>
                </div>
            {% endfor %}
        {%  else %}
            <div>
                Vous n'avez aucune candidature pour le moment.
            </div>
        {% endif %}
    </div>
{% endblock %}
